<div class=" col-md-4 offset-4 form-group mt-2 mb-2">
        <select class="form-control" id="sel" (click)="getCNews(value)" [(ngModel)]="value">
        <option value="abc-news">ABC News</option>
        <option value="bbc-news">BBC News</option>
        <option value="fox-news">Fox News</option>
        <option value="espn">ESPN</option>
        <option value="news24">News24</option>
        <option value="the-hindu">The Hindu</option>
        <option value="usa-today">USA Today</option>
        <option value="national-geographic">National Geographic</option>
        <option value="mirror">Mirror</option>

      </select>
    </div>
    <div class="col-md-3 card card-body float-left align-items-center" style="height:350px;" *ngFor="let new of cnews">
        <a href="{{new.url}}"><img src="{{new.urlToImage}}" style="height: 250px; width: 300;" alt=""></a>
      <h2 style="font-size: 15px;">{{new.title}}</h2>
    </div>
  