<div class="container col-md-8 offset-2 card card-body  " *ngFor="let new of news">
  <img src="{{new.urlToImage}}" alt="">
  <h2>{{new.title}}</h2>
</div>



<!-- <div class="card col-md-6 offset-5 mt-5 mb-5" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2019/09/26/11/59/sarajevo-4505752__340.jpg" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div> -->